Gather all the analysed subjects (quality)

In [1]:
import pandas as pd
import numpy as np
import os

### N=83 cohort

In [2]:
ratings_df1 = pd.read_excel('/home/jaimebarranco/Desktop/MRI-QC/scores.xlsx', sheet_name='brainmask_avg_data')

In [3]:

# add another column which is the opposite of 'exclusion' column
ratings_df1['rate'] = ratings_df1['exclusion'].apply(lambda x: 1 if x == 0 else 0)

# remove all the columns except for 'subject' and 'rate'
ratings_df1 = ratings_df1[['subject', 'rate', 'rating_text']]

# sort by 'name'
ratings_df1 = ratings_df1.sort_values(by=['subject'])
ratings_df1['subject'] = ratings_df1['subject'].apply(lambda x: x.split('.')[0])

Get bids name

In [4]:
'''
Get bids name
'''
subs_ls = '/mnt/sda1/Repos/a-eye/Data/SHIP_dataset/non_labeled_dataset'
files_1 = [(os.path.basename(f)).split('.')[0] for f in sorted(os.listdir(subs_ls)) if not f.startswith('.')]
files_1 = [int(f) for f in files_1] # files from string to int
numbers_1 = [f for f in range(1, len(files_1)+1)]
df_1 = pd.DataFrame({'Subject': files_1, 'Number': numbers_1})

subs = '/home/jaimebarranco/Downloads/samples_v3'
files_2 = [(os.path.basename(f)).split('.')[0] for f in sorted(os.listdir(subs)) if not f.startswith('.')]
files_2 = [int(f) for f in files_2] # files from string to int
numbers_2 = [f for f in range(1, len(files_2)+1)]
df_2 = pd.DataFrame({'Subject': files_2, 'Number': numbers_2})

# df_1 only with df_2 subjects
df_3 = df_1[df_1['Subject'].isin(df_2['Subject'])]
numbers_3 = df_3['Number']
bids_names = [f'sub-{n:03}_T1w' for n in numbers_3]
df_3['bids_name'] = bids_names # add bids names
df_3 = df_3.reset_index(drop=True) # reset index
df_3 = df_3.sort_values(by=['Subject']) # sort by 'Subject'

/tmp/ipykernel_31128/4127659103.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['bids_name'] = bids_names # add bids names

In [5]:
# add 'bids_name' column from df_3 to ratings_df1
ratings_df1['bids_name'] = df_3['bids_name'].values
ratings_df1 = ratings_df1.sort_values(by=['bids_name'])
ratings_df1 = ratings_df1.reset_index(drop=True) # reset index

In [6]:
# move columns
ratings_df1.insert(0, 'bids_name', ratings_df1.pop('bids_name'))
ratings_df1 = ratings_df1[['bids_name', 'rate', 'rating_text']]
ratings_df1 = ratings_df1.rename(columns={'rating_text': 'comments'})
ratings_df1['bids_name'] = ratings_df1['bids_name'].apply(lambda x: x.split('_')[0])

Get reports name from LS dataset

In [7]:
bids_csv = pd.read_csv("/home/jaimebarranco/Desktop/MRI-QC/fetal/fetalqc_non-labeled-dataset/bids_csv.csv")
bids_csv['im'] = bids_csv['im'].apply(lambda x: x.split('/')[-1].split('_')[0])
# rename 'im' column to 'bids_name'
bids_csv = bids_csv.rename(columns={'im': 'bids_name'})

In [8]:
# get the subset of bids_csv where 'name' is present
bids_csv_name = bids_csv[bids_csv['name'].notnull()]
# merge ratings_df1 and bids_csv_name on 'bids_name'
merged_df1 = pd.merge(ratings_df1, bids_csv_name, on='bids_name')
# add the 'name' column from bids_csv_name to ratings_df1
ratings_df1['name'] = merged_df1['name']
# reorder columns
ratings_df1.insert(1, 'name', ratings_df1.pop('name'))
# order by 'name'
ratings_df1 = ratings_df1.sort_values(by=['name'])

In [9]:
ratings_df1 = ratings_df1.rename(columns={'name': 'report_name'})
ratings_df1 = ratings_df1.reset_index(drop=True) # reset index

### N=100 cohort

excluded_edited

In [10]:
ratings_df2 = pd.read_excel('/home/jaimebarranco/Desktop/MRI-QC/excluded_edited.xlsx')

In [11]:
# remove rows where 'my_rate' is nan
ratings_df2 = ratings_df2[ratings_df2['my_rate'].notnull()]
# keeping only the columns we want
ratings_df2 = ratings_df2[['subject_name', 'bids_name', 'my_rate', 'Comments']]
# reorder columns
ratings_df2.insert(0, 'bids_name', ratings_df2.pop('bids_name'))
# renaming columns
ratings_df2 = ratings_df2.rename(columns={'subject_name': 'report_name', 'my_rate': 'rate', 'Comments': 'comments'})
# changing rate according to mriqc-learn
ratings_df2['rate'] = ratings_df2['rate'].apply(lambda x: 1 if x == 0 else 0)
# changing bids_name
ratings_df2['bids_name'] = ratings_df2['bids_name'].apply(lambda x: x.split('_')[0])
# order by 'name'
ratings_df2 = ratings_df2.sort_values(by=['report_name'])
ratings_df2 = ratings_df2.reset_index(drop=True) # reset index

common subs between dataframes

In [12]:
# count how many elements are in common between ratings_df1 and ratings_df2 by 'report_name'
common_df1_df2 = ratings_df1[ratings_df1['report_name'].isin(ratings_df2['report_name'])]
common_df1_df2 = common_df1_df2.sort_values(by=['report_name'])
common_df1_df2 = common_df1_df2.reset_index(drop=True) # reset index
print(common_df1_df2)

common_df2_df1 = ratings_df2[ratings_df2['report_name'].isin(ratings_df1['report_name'])]
common_df2_df1 = common_df2_df1.sort_values(by=['report_name'])
common_df2_df1 = common_df2_df1.reset_index(drop=True) # reset index
print(common_df2_df1)

  bids_name report_name  rate   comments
0  sub-1049   sub-PKFEK     1       Poor
1  sub-1155   sub-UOVLU     1  Excellent
  bids_name report_name  rate comments
0  sub-1049   sub-PKFEK     1      NaN
1  sub-1155   sub-UOVLU     1      NaN

In [13]:
for i in range(len(common_df1_df2)):
    if common_df1_df2['rate'].values[i] != common_df2_df1['rate'].values[i]:
        print(f'{common_df1_df2["report_name"].values[i]} has {common_df1_df2["rate"].values[i]} in excel1 and {common_df2_df1["rate"].values[i]} in excel2')

merge dataframes

In [14]:
# concat ratings_df1 and ratings_df2. If 'rate' is different in both, the value from ratings_df2 will be used
ratings_df = pd.concat([ratings_df1, ratings_df2])
ratings_df = ratings_df.sort_values(by=['report_name'])
ratings_df = ratings_df.reset_index(drop=True) # reset index
ratings_df = ratings_df.drop_duplicates(subset=['report_name'], keep='first') # drop duplicates

### All other excel files

#### Functions

In [15]:
def preprocess_df(df):
    '''
    Preprocess the dataframe
    '''
    # remove rows where 'my_rate' is nan
    df = df[df['my_rate'].notnull()]
    # renaming columns
    df = df.rename(columns={'name': 'report_name', 'my_rate': 'rate'})
    # changing bids_name
    df['bids_name'] = df['bids_name'].apply(lambda x: x.split('_')[0])
    # order by 'name'
    df = df.sort_values(by=['report_name'])
    df = df.reset_index(drop=True) # reset index

    return df

In [16]:
def get_common_subs(df1, df2):
    '''
    Get the common subjects between two dataframes
    '''
    # count how many elements are in common between ratings_df1 and ratings_df2 by 'report_name'
    common_df1_df2 = df1[df1['report_name'].isin(df2['report_name'])]
    common_df1_df2 = common_df1_df2.sort_values(by=['report_name'])
    common_df1_df2 = common_df1_df2.reset_index(drop=True) # reset index
    print(common_df1_df2)

    common_df2_df1 = df2[df2['report_name'].isin(df1['report_name'])]
    common_df2_df1 = common_df2_df1.sort_values(by=['report_name'])
    common_df2_df1 = common_df2_df1.reset_index(drop=True) # reset index
    print(common_df2_df1)

    return common_df1_df2, common_df2_df1

In [17]:
def print_subs_with_different_rate(df1, df2):
    '''
    Print the subjects with different rates
    '''
    for i in range(len(df1)):
        if df1['rate'].values[i] != df2['rate'].values[i]:
            print(f'{df1["report_name"].values[i]} has {df1["rate"].values[i]} in excel1 and {df2["rate"].values[i]} in excel2')

    return None

In [18]:
def merge_dataframes(df1, df2):
    '''
    Merge two dataframes keeping the rate from first dataframe in case of conflict
    '''
    # concat ratings_df1 and ratings_df2. If 'rate' is different in both, the value from ratings_df2 will be used
    df_aux = pd.concat([df1, df2])
    df_aux = df_aux.sort_values(by=['report_name'])
    df_aux = df_aux.reset_index(drop=True) # reset index
    df_aux = df_aux.drop_duplicates(subset=['report_name'], keep='first') # drop duplicates choosing the first one
    df = df_aux

    return df

#### Excels

In [19]:
excels = [
    '/home/jaimebarranco/Downloads/excluded_mriqclearn.xlsx',
    '/home/jaimebarranco/Downloads/excluded_mriqclearn_N183_NoBrainIQMs_th043.xlsx',
    '/home/jaimebarranco/Downloads/excluded_mriqclearn_NoBrainIQMs_th0336.xlsx',
    '/home/jaimebarranco/Downloads/excluded_mriqclearn_trN183_th0753.xlsx',
    '/home/jaimebarranco/Downloads/excluded_N183_NoBrainIQMs.xlsx'
]

In [20]:
for excel in excels:
    ratings_df_aux = pd.read_excel(excel)
    ratings_df_aux = preprocess_df(ratings_df_aux)
    common_df_dfaux, common_dfaux_df = get_common_subs(ratings_df, ratings_df_aux)
    print_subs_with_different_rate(common_df_dfaux, common_dfaux_df)
    ratings_df = merge_dataframes(ratings_df, ratings_df_aux)

   bids_name report_name  rate             comments
0    sub-096   sub-HMEFJ     0                  NaN
1    sub-141   sub-IFMPW     1           eyes open
2    sub-126   sub-JASYK     1                  NaN
3    sub-363   sub-MHRGQ     1  bad lens, artifacts
4    sub-299   sub-MMFOS     1                 Poor
5    sub-137   sub-UBIBB     0             no lens
6    sub-394   sub-VNVWN     1                  NaN
7    sub-898   sub-WXSQP     1           Acceptable
8   sub-1171   sub-XFRWS     1            Excellent
9    sub-342   sub-XIGDR     1                  NaN
10   sub-053   sub-XKICG     0          blur, noise
   bids_name report_name  rate               comments
0    sub-096   sub-HMEFJ     0          blurry, noisy
1    sub-141   sub-IFMPW     1                    NaN
2    sub-126   sub-JASYK     1                    NaN
3    sub-363   sub-MHRGQ     0  blurred lens, no o.n.
4    sub-299   sub-MMFOS     1                    NaN
5    sub-137   sub-UBIBB     0                no lens
6    sub-394   sub-VNVWN     1                    NaN
7    sub-898   sub-WXSQP     1                    NaN
8   sub-1171   sub-XFRWS     1                    NaN
9    sub-342   sub-XIGDR     1                    NaN
10   sub-053   sub-XKICG     1                  limit
sub-MHRGQ has 1 in excel1 and 0 in excel2
sub-XKICG has 0 in excel1 and 1 in excel2
  bids_name report_name  rate       comments
0   sub-001   sub-APUKS     1            NaN
1   sub-772   sub-OJULJ     0  blurry, noisy
  bids_name report_name  rate comments
0   sub-001   sub-APUKS     1      NaN
1   sub-772   sub-OJULJ     0      NaN
   bids_name report_name  rate         comments
0    sub-446   sub-AEHRL     0          no lens
1    sub-001   sub-APUKS     1              NaN
2    sub-650   sub-BGQKW     1              NaN
3    sub-837   sub-BTBKI     1              NaN
4    sub-138   sub-CEGVN     0              NaN
..       ...         ...   ...              ...
59   sub-471   sub-ZBVUD     0  almost no lens
60   sub-568   sub-ZMLMI     1              NaN
61   sub-665   sub-ZSFPW     1        eyes open
62  sub-1156   sub-ZSLLA     1              NaN
63   sub-778   sub-ZZSWX     1        artifacts

[64 rows x 4 columns]
   bids_name report_name  rate                      comments
0    sub-446   sub-AEHRL     0                       no lens
1    sub-001   sub-APUKS     1                           NaN
2    sub-650   sub-BGQKW     1                           NaN
3    sub-837   sub-BTBKI     1                           NaN
4    sub-138   sub-CEGVN     0                      no lens
..       ...         ...   ...                           ...
59   sub-471   sub-ZBVUD     0                almost no lens
60   sub-568   sub-ZMLMI     1                         noisy
61   sub-665   sub-ZSFPW     0                     open eyes
62  sub-1156   sub-ZSLLA     1  limit, poor, heavy artifacts
63   sub-778   sub-ZZSWX     1                           NaN

[64 rows x 4 columns]
sub-LYRAA has 0 in excel1 and 1 in excel2
sub-OQIYU has 0 in excel1 and 1 in excel2
sub-QFTJV has 1 in excel1 and 0 in excel2
sub-UKODB has 0 in excel1 and 1 in excel2
sub-VWNXG has 0 in excel1 and 1 in excel2
sub-XKICG has 0 in excel1 and 1 in excel2
sub-ZSFPW has 1 in excel1 and 0 in excel2
   bids_name report_name  rate         comments
0    sub-001   sub-APUKS     1              NaN
1    sub-705   sub-AYXLO     1              NaN
2    sub-473   sub-BDGIB     0              NaN
3    sub-611   sub-BWMPA     1              NaN
4    sub-483   sub-FUJML     1              NaN
5   sub-1130   sub-GDWSJ     1              NaN
6    sub-622   sub-HGOTT     1              NaN
7    sub-713   sub-JTGMM     1              NaN
8    sub-451   sub-LYRAA     1            weird
9    sub-938   sub-MIFZE     0       super poor
10   sub-633   sub-QDFPC     1              NaN
11   sub-613   sub-WITNR     1              NaN
12   sub-558   sub-YWAOQ     1            noisy
13   sub-471   sub-ZBVUD     0  almost no lens
14   sub-568   sub-ZMLMI     1              NaN
   bids_name report_name  rate comments
0    sub-001   sub-APUKS     1      NaN
1    sub-705   sub-AYXLO     0      NaN
2    sub-473   sub-BDGIB     0      NaN
3    sub-611   sub-BWMPA     1      NaN
4    sub-483   sub-FUJML     1      NaN
5   sub-1130   sub-GDWSJ     1      NaN
6    sub-622   sub-HGOTT     1      NaN
7    sub-713   sub-JTGMM     1      NaN
8    sub-451   sub-LYRAA     1    poor
9    sub-938   sub-MIFZE     0      NaN
10   sub-633   sub-QDFPC     1      NaN
11   sub-613   sub-WITNR     1      NaN
12   sub-558   sub-YWAOQ     1     poor
13   sub-471   sub-ZBVUD     0  no lens
14   sub-568   sub-ZMLMI     1      NaN
sub-AYXLO has 1 in excel1 and 0 in excel2
  bids_name report_name  rate  comments
0   sub-871   sub-DESIW     1       NaN
1   sub-930   sub-TEOHS     1       NaN
2  sub-1087   sub-TNPZD     0  no lens
3   sub-613   sub-WITNR     1       NaN
  bids_name report_name  rate  comments
0   sub-871   sub-DESIW     1       NaN
1   sub-930   sub-TEOHS     1       NaN
2  sub-1088   sub-TNPZD     0  no lens
3   sub-613   sub-WITNR     1       NaN